git.ocd.beauty {
    tls /etc/caddy/certs/ocd.beauty.pem /etc/caddy/certs/ocd.beauty.key
    reverse_proxy gitea:3000    
}

ci.ocd.beauty {
    tls /etc/caddy/certs/ocd.beauty.pem /etc/caddy/certs/ocd.beauty.key
    reverse_proxy woodpecker-ci-server:8000
}

music.ocd.beauty {
    tls /etc/caddy/certs/ocd.beauty.pem /etc/caddy/certs/ocd.beauty.key
    reverse_proxy navidrome:4533
}

status.ocd.beauty {
    tls /etc/caddy/certs/ocd.beauty.pem /etc/caddy/certs/ocd.beauty.key
    reverse_proxy gatus:8080
}
